body {
  background-image: url("material/calcy-background-sample.jpg");
  background-size: 100% 100%;
  background-attachment:fixed;
}

#regFormTable{
    background-color: rgb(248, 240, 230);
    margin: auto;
    font-weight: 900;
    font-style: normal; 
    border-color: rgb(0, 0, 0);
    color: rgb(0, 115, 12);
    text-align: center;
}

#val1,#val2 {width:fit-content;}

#history,#res {
    min-width: 95%;
    min-height: 12vmax;
    font-weight: bold;
}

caption {
    margin-top: 50%;
    font-size: xx-large;
    border: 2px solid green;
    margin-bottom: 5px;
    font-style: italic;
    font-weight: bolder;
    background-color: rgb(248, 240, 230);
}

button{
    background-color: rgb(209, 209, 209);
    height: fit-content;
    width: 100%;
}

button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

* {font-family: 'Courier New', Courier, monospace;}